/* (IMPORTS) -------------------------------------------------- */

@import url("/resources/assets/css/elementary.css");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');

/* (GENERAL) -------------------------------------------------- */

html {
    font-size: 1px;
}

body {
    padding: 25rem 100rem;

    background-color: var(--turquoise);
    font-family: 'Kanit', sans-serif;
    font-size: 20rem;
    color: var(--text-black);
}

/* (NAVIGATION) -------------------------------------------------- */

nav {
    margin-bottom: 25rem;
    border-radius: 75rem 75rem 0 75rem;
    padding: 25rem;

    background-color: var(--white);
    
    display: flex;
}

nav .layer {
    width: 100rem;
    height: 100rem;
    border: 5rem solid var(--red);
    border-radius: 50rem;
    margin-right: 25rem;

    transition: border-width var(--action-fast);
}

nav .layer:hover {
    border-width: 10rem;
}

nav .layer img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    background-color: var(--white);
}

nav #logo {
    transform: rotate(30deg);
    transition: transform var(--action);
}

nav .layer:hover #logo {
    transform: rotate(0);
}

nav h1 {
    font-size: 50rem;
    font-weight: 300;
}

nav #navigation {
    margin-left: auto;
}

nav #navigation a {
    font-size: 20rem;
    color: var(--red);
    font-weight: 600;

    transition: font-size var(--action-fast), color var(--action-fast);
}

nav #navigation a:not(:last-of-type)
{
    margin-right: 25rem;
}

nav #navigation a:hover {
    font-size: 25rem;
    color: var(--link-red);
}

/* (MAIN) -------------------------------------------------- */

main {
    border-radius: 75rem 0;
    padding: 50rem;

    background-color: var(--white);
}

main section:not(:last-of-type) {
    margin-bottom: 150rem;
}

main section h2 {
    line-height: 100rem;
    margin-bottom: 25rem;

    font-size: 40rem;
    font-weight: 300;
    color: var(--red);
}

main section .content {
    padding-left: 25rem;
}

main section .content:not(:last-of-type) {
    margin-bottom: 75rem;
}

main section .content h3 {
    margin-bottom: 10rem;

    font-size: 30rem;
    font-weight: 400;
    color: var(--black);
}

main section .content p {
    margin-bottom: 10rem;

    text-align: justify;
}

main section .content > img, main section .content > video {
    display: block;
    margin: 25rem auto;
    max-width: 50%;
    max-height: 400rem;
    border-radius: 25rem;

    border: 5rem solid;
}

main section .content > img {
    border-color: var(--red);
}

main section .content > video {
    border-color: var(--blue);
}

main section .content .downloadable {
    margin-top: 10rem;
}

main section .content .downloadable img {
    width: 48rem;
    height: auto;
    margin-right: 25rem;
    border-radius: 12rem;
}

main section .content .downloadable a {
    border: 5px solid var(--night);
    border-radius: 25rem;
    padding: 0 10rem;

    font-weight: 600;

    color: var(--night);

    transition: border-color var(--action-fast), background-color var(--action-fast), color var(--action-fast);
}

main section .content .downloadable a:not(:first-of-type) {
    margin-left: 25rem;
}

main section .content .downloadable a:hover {
    border-color: var(--green);
    background-color: var(--green);
    color: var(--white);
}

main section .content .time {
    display: block;
    text-align: right;

    color: var(--metal);
    font-style: italic;
}

main section .content .slider {
    margin: 25rem 0;
    height: 300rem;
    background-color: cadetblue;
}

